

body {
    margin: 0;
    display: grid;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
}

.header {
    display: flex;
    justify-content: start;
    border-bottom: 10px solid #00DBEB;
    padding: 1%;

}

.content {
    margin-left: 5vw;
    margin-right: 5vw;
}

.title_recommendation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 2px solid black;


}

.title_recommendation>h1 {
    margin-bottom: 0;
}

.title_recommendation>p {
    margin-bottom: 0;
}

.infos_recommendation {
    display: flex;
    justify-content: space-between;
    margin-right: 10vw;

}

.rows {
    display: flex;
}

.column {
    flex: 50%;
}

.recommendations {
    height: available;
    overflow: hidden;
}
.recommendations>div {
    border: 1px solid gray;
    border-radius: 0 1em 1em 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.recommendations-content-short {
    overflow: clip;
}

.recommendations-content-short p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 400px;
}

.section-img {
    height: 100px;
    width: 100px;

}

.section-img>input[type="image"] {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.rows>lColumn {
    flex: 20%;
}

.rColumn>div>h2 {
    margin-top: 0;
    margin-bottom: 5px;
    flex: 80%;
}

.rColumn>div>p {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0;
    margin-bottom: 1em;
    height: 60%;
}

.rColumn>div {
    height: 100px;
}


.creation-form {

    width: 90vw;
    height: 75vh;
    margin: 5vh auto;

    background-color: #11D6A9;
    border-radius: 10px;
}

.creation-form>h1 {
    margin-left: auto;
    margin-right: auto;
}

.creation-form>.rows>.column>textarea {
    width: 85%;
    height: 80%;
    resize: none;
}



.page-name-box {
    display: flex;
    align-items: center;

    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    background: #0B8ED4;

}

.page-name-box>a>h1 {
    text-decoration: none;
}

.about {
    display: flex;
    align-items: center;

    padding: 10px;
    margin: auto;
    margin-top: 20vh;
    font-size: 1.2em;
    width: 70%;

    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    border-color: #11D6A9;

}


.input-form-container {
    width: 20vw;
    height: fit-content;
    margin: auto;
    margin-top: 20vh;


    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background: #6FFAB0;
    padding: 50px;
}

.profile-form-container {
    /*width: 80%;*/
    /*height: fit-content;*/
    /*margin: auto;*/
    /*margin-top: 20vh;*/


    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/

    /*border-style: solid;*/
    /*border-radius: 10px;*/
    /*border-width: 5px;*/
    /*border-color: #11D6A9;*/

}


.profile-form-container>form>h1 {
    font-size: small;
}



.button {
    padding: 10px;
    margin: 10px 0;
    font-size: 1.2em;
    width: 90%;

    border-radius: 5px;
    background-color: #6FFAB0;
}

.input-text-field {
    padding: 10px;
    margin: 10px 0;
    font-size: 1.2em;
    width: 90%;

    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    border-color: #11D6A9;
}

.no-valid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

.create-recommendation-button {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.create-recommendation-button>form {
    width: auto;
}

.create-recommendation-button>form>input {
    width: fit-content;
}

@media only screen and (max-device-width: 420px) {

    * {
        font-size: 36px;
    }

    .header {
        justify-content: center;
    }

    


    .login-container {
        width: 70%;
        height: 30%;
        margin: auto;
        margin-top: 20vh;
    
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        border-radius: 10px;
        background: #6FFAB0;
        padding: 50px;
    }



}